
<!-- {% for content in contents.all %} -->
<!-- <h1>
        <a href="{%url 'free_detail' content.id%}">제목: {{content.title}}</a>
</h1>
<p>
    글번호: {{content.id}}
</p>
<p>
    작성자: {{content.author}}
</p>
    <p>
        날짜: {{content.pub_date}}
</p>
<a href="{% url 'free_create' %}">새 글 쓰기</a>
{% endfor %} -->

벊<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title> Talk Talk 게시판 </title>

        <style>
        @font-face { font-family: 'BMHANNAPro'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff'); font-weight: normal; font-style: normal; }
        * {font-family: 'BMHANNAPro';}
        </style>
        

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <img src="https://pbs.twimg.com/media/DIXe6hVVoAEdpJe.jpg" width="50" height="35" class="d-inline-block align-top" alt="let's_get_it_icon">
      <a class="navbar-brand" href="./home.html">Let's get it</a>
      <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarCollapse"
        data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">콘테스트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./apply_create">지원영상모음</a>
          </li>
          <a class="nav-link" href="./free">자유게시판</a>
          <a class="nav-link" href="./login">로그인</a>
          <a class="nav-link" href="./signup">회원가입</a>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="text" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
          </header>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">날짜</th>
                <th scope="col">조회수</th>
              </tr>
            </thead>
            <tbody>
                {% for content in contents %}
                  <tr>
                    <th scope="row">3</th>
                    <td>
                        <a href="./free_detail.html">
                            {{ content.title }}
                        </a>
                      </td>
                    <td>{{ content.author }}</td>
                    <td>{{ content.pub_date }}</td>
                    <td>4</td>
                  </tr>
                {% empty %}
                    <p>
                        모델이 비었습니다.
                    </p>
                {% endfor %}
              
            </tbody>
          </table>

          <br>

          <div style="float:right">
            <a href="{% url 'free_create' %}"><input type=button value="글쓰기"></a>
              
          </div>
          


    </body>