<!-- {% if error %}
    {{ error }}
    <br>
    <br>
    {% endif %}
<h1>login</h1>

<form method="POST" action="{% url 'login'%}">

    {% csrf_token %}
    Username:
    <br>
    <input name="username" type="text" value="">
    <br>
    Password:
    <br>
    <input name="password" type="password" value="">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Login">
</form>
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <title>Let's get it</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
  <link href="login.css" rel="stylesheet" />
  <style>
    @font-face {
      font-family: 'BMHANNAPro';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    * {
      font-family: 'BMHANNAPro';
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <img src="https://pbs.twimg.com/media/DIXe6hVVoAEdpJe.jpg" width="50" height="35" class="d-inline-block align-top" alt="let's_get_it_icon">
      <a class="navbar-brand" href="./home.html">Let's get it</a>
      <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarCollapse"
        data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">콘테스트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./apply_create">지원영상모음</a>
          </li>
          <a class="nav-link" href="./free">자유게시판</a>
          <a class="nav-link" href="./login">로그인</a>
          <a class="nav-link" href="./signup">회원가입</a>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="text" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="clearfix">
      <form class="form-signin" action="/signin" method="POST">
        <h2 class="form-signin-heading">Signin</h2>
        <label class="sr-only" for="email">Email address</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="Email address" required="required" autofocus="autofocus"
        />
        <label class="sr-only" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required="required" autofocus="autofocus"
        />
        <button class="btn btn-primary btn-block" type="submit">Signin</button>
        <hr/>
        <a class="btn btn-dark btn-block" href="">
    
          <i class="fab fa-google"> Signin with Google</i>
        </a>
        <a class="btn btn-dark btn-block" href="/auth/naver">
          <i class="fab fa-facebook-f"> Signin with Facebook</i>
        </a>
        <div class="sub"> 아직 회원이 아니신가요?
          <a href="/users/new"> Signup</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>